# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/

# Environment variables
.env
.env.production
.env.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Editor specific directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific files
.DS_Store
Thumbs.db


.history/